body {
  font-family: arial, sans-serif;
}

.meni {
  color: rgba(0, 0, 0, 0.87);
  float: right;
  width: 20%;
  margin-top: 10px;
  margin-right: 10px;
}

.meni div {
  display: inline;
  margin-left: 20px;
}

.kockice {
  background-image: url(//ssl.gstatic.com/gb/images/i2_2ec824b0.png);
}
